.mybtn:disabled {
    opacity: 1;
}

.myimg {
    display: block;
    margin: auto;
}

.indexContainer {
    color: white;
    display:flex;
    flex-direction: row;
    background-color: #005599;
    justify-content: center;
    align-items: stretch;
}

.jouerIndex {
    width: 45%;
    margin: 2px;
    padding: 5px;
    height: 80vh;
}

div:first-child {
    border-right: 2px solid white;
}

.imageAccueil {
    display: none;
    width:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff;
}

.imageMorpion {
    display: none;
    width:90px;
    display: block;
    margin: auto auto;
    background-size: contain;
    background-color:white;
    border: 2px solid #005599;
    height: 100px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}